body{
    background-color: rgba(30, 108, 250, 0.5);
 }
 #upSection{
     background-color: rgb(11, 25, 154);
     position: sticky;
     top: 0px;
     display: block;
     min-width: 100%;
 }
 #downSection, #ind, #reg, #das {
     text-align:center;
     color:white;
 }
 #edsa {
     max-height: 150px;
     max-width: 200px;
 }
 #tech {
    /* position: relative;
     top: 0px;
     left: 0px;*/
     max-height: 300px;
     max-width: 250px;
     margin-left:65%;
 }
#downSection, #ind, #reg, #das {
    text-align:center;
    color:white;
}